@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 255 255 255; /* #FFFFFF */
    --color-primary: 0 137 237; /* #0089ED */
    --color-accent: 66 133 244;  /* #4285F4 */
    --color-secondary: 141 141 141; /* #8D8D8D */
    --color-surface: 246 246 246; /* #F6F6F6 */
    --color-info: 233 241 255; /* #E9F1FF */
    --color-error: 255 51 51; /* #FF3333 */
  }
}

@layer components {
  /* General form fields styles */
  .formField {
    @apply bg-white disabled:opacity-50 border border-secondary hover:border-primary/50 focus:border-primary rounded-lg transition-colors ease-in-out duration-300;
  }
  .formField-error {
    @apply border-error hover:border-error/50 focus:border-error;
  }
  .formField-errorMessage {
    @apply px-6 mt-1 text-error text-xs font-light;
  }
}
